
.mainPageContainer{
  padding: 10px;
  display: flex;
  flex-direction: column;

  .addButton{
    margin-bottom: 10px;
    width: 150px;
  }

  .myProduct{
    margin-top: 20px;
    width: 80%;
  }
}

.flexRu{
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.myTable tr:nth-of-type(odd) {
  background-color: #ffffff; // цвет для нечётных строк
}

.myTable tr:nth-of-type(even) {
  background-color: #f5f5f5; // цвет для чётных строк
}
